#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  	height: 50px;
}

html {
  position: relative;
  min-height: 100%;
}

.newstuff_pagnav {
	padding-bottom: 50px;
}

#contentbody > .container {
	margin-bottom: 20px;
}

textarea { resize: vertical; }

.btn-primary {
	background-color: #3375bb;
}

.add-post-button {
    margin-top: 1px;
    margin-right: -18px;
    font-size: 12px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background:none repeat scroll 0 0 #3375bb; color:#333; outline:none
}

.custom_nav > li:nth-child(1) > a {
	background: none;
	text-transform: none;
	letter-spacing: 0.1px;
}

.single_sarticle_inner {
	min-width: 93%;
	margin: 0px;
}

.alert-rules { padding: 9px 0px 0px 16px; width: 250px; margin-top: 10px; background-color: aliceblue; }
.alert-rules a { text-decoration: none; }
.alert-rules > ol { padding: 0px 0px 0px 8px; }
.alert-rules > ol > li { padding-bottom: 3px; }

.singlepost_content h2 {
    margin: 3px 0px;
    padding: 3px 0px 10px;
}

.stuff_date {
	margin: -10px 11px 0px -3px;
}

.previous_btn{border:2px solid #3375bb; border-radius:0 10px; color:#bbb7b7; display:inline-block; float:left; outline:medium none; padding:8px 10px; text-transform:uppercase; -webkit-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s}
.next_btn{border:2px solid #3375bb; border-radius:10px 0; color:#bbb7b7; display:inline-block; float:right; outline:medium none; padding:8px 10px; text-transform:uppercase; -webkit-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s}
.previous_btn:hover, .previous_btn:focus, .next_btn:hover, .next_btn:focus{background-color:#3375bb; border-color:#ffd62c; text-decoration:none; color:#fff; outline:none}

.scrollToTop{
  background:none repeat scroll 0 0 #3375bb;
  border:1px solid #FFF;
  bottom:105px;
  color:#FFF;
  display:none;
  font-size:32px;
  font-weight:bold;
  height:50px;
  position:fixed;
  right:75px;
  text-align:center;
  text-decoration:none;
  width:50px;
  z-index:9999;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  -ms-transition:all 0.5s;
  -o-transition:all 0.5s;
  transition:all 0.5s
}

.scrollToTop:hover, .scrollToTop:focus{
  background-color:#0099cc;
  color:#FFF !important;
  text-decoration:none;
  outline:none;
}