{% extends "layout/main.html" %}

{% block content %}
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-lg-6">
    <div class="row">
      <div class="leftbar_content">
        <h2>Лента новостей <a href="{{ '{}'.format(reverse_url('post_add')) }}" class="btn btn-default add-post-button pull-right"> Добавить новость <i class="fa fa-plus-square"></i></a></h2>

        {% if not news %}
        <h3>Новостей пока нет</h3>
        {% end %}

        {% for post in news %}
        <div class="single_stuff wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
          <div class="single_stuff_article">
            <div class="single_sarticle_inner"> 
              <div class="stuff_article_inner">
                <span class="stuff_date">{{ post['date'].strftime('%b') }}
                <strong>{{ post['date'].strftime('%d') }}</strong></span>
                <h2><a href="/news/{{post['slug']}}">{{ post['title'] }}</a></h2>
              </div>
            </div>

            <div class="single_stuff_img" align="center">
              <a href="/news/{{post['slug']}}"><img src="{{ post['image'] }}" alt=""></a> 
            </div>

            <div class="single_sarticle_inner">
              <p>{% raw post['body'] %}</p>
            </div>
          </div>            
        </div>
        {% end %}

        <div class="stuffpost_paginatinonarea wow slideInLeft">
          <ul class="newstuff_pagnav">
            {% raw paginatorHtml %}
          </ul>
        </div>
        

      </div>
    </div>
  </div>
</div>
{% end %}