{% extends "layout/main.html" %}

{% block content %}
<div class="row">
  <div class="col-md-offset-2 col-md-8 col-lg-8">
    <div class="row">
      <div class="leftbar_content">
        <h2>Добавление новости</h2>
        <div class="singlepost_area">
          <div class="singlepost_content">
          {% if error %}
	          <div class="alert alert alert-danger">
	          	Ошибка: {{ error }}
	          </div>
          {% end %}

          	<form action="/add" method="post" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                      <label for="title" class="col-lg-4">Заголовок</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="title" id="title">
                        </div>
                    </div>

                    <div class="form-group">
                      <label for="title" class="col-lg-4">Изображение</label>
                        <div class="col-lg-8">
                            <input type="file" name="image" />
                        </div>
                    </div>

                    <div class="form-group">
                    	<div class="col-lg-4">
                    		<label for="message">Текст (HTML)</label>
													<div class="alert alert-info alert-rules">
														<ol>
															<li>Разрешённые теги: <br><strong>p, b, i, strong, em, img, iframe</strong></li>
															<li>Разрешены только следующие ресурсы:<br>
																<a href="https://youtube.com" target="_blank">youtube.com</a>,
																<a href="https://play.md" target="_blank">play.md</a>,
																<a href="https://vimeo.com" target="_blank">vimeo.com</a>
															</li>
														</ol>
													</div>
											</div>
											<div class="col-lg-8">
                            <textarea class="form-control" name="message" id="message" rows="10"></textarea>
                        </div>
                    </div>

                  <div class="form-group">
                    <div class="col-lg-4"></div>

                    <div class="col-lg-8">
                    <button type="submit" class="btn btn-success">Добавить новость</button>
                    </div>
                  </div>
                </fieldset>
            </form>
          </div>
      	</div>
      </div>
    </div>
  </div>
</div>
{% end %}