{% extends "layout/main.html" %}

{% block content %}
<div class="row">
  <div class="col-md-offset-2 col-md-8 col-lg-8">
    <div class="row">
      <div class="leftbar_content">
        <h2>Просмотр новости</h2>
        <div class="singlepost_area">
          <div class="singlepost_content"> <span class="stuff_date">{{ post['date'].strftime('%b') }}
          <strong>{{ post['date'].strftime('%d') }}</strong></span>
            <h2>{{ post['title'] }}</h2>
            <img class="img-center" src="{{ post['image'] }}" alt="">
            {% raw post['body'] %}
            <!--<div class="singlepage_pagination"> <a class="previous_btn" href="#">Предыдущая</a> <a class="next_btn" href="#">Следующая</a> </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% end %}    