{% extends "layout/main.html" %}

{% block content %}
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-lg-6">
    <div class="row">
      <div class="leftbar_content">
        <h2>Поиск новостей по запросу "{{ searchRequest }}" <a href="{{ '{}'.format(reverse_url('post_add')) }}" class="btn btn-default add-post-button pull-right"> Добавить новость <i class="fa fa-plus-square"></i></a></h2>

        {% if not news['hits'] %}
        <h3>Новостей не найдено</h3>
        {% end %}

        {% for post in news['hits'] %}
        <div class="single_stuff wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
          <div class="single_stuff_article">
            <div class="single_sarticle_inner"> 
              <div class="stuff_article_inner">
                <span class="stuff_date">{{ datetime.datetime.strptime(post['_source']['date'], '%Y-%m-%dT%H:%M:%S').strftime('%b') }}
                <strong>{{ datetime.datetime.strptime(post['_source']['date'], '%Y-%m-%dT%H:%M:%S').strftime('%d') }}</strong></span>
                <h2><a href="/news/{{post['_source']['slug']}}">{{ post['_source']['title'] }}</a></h2>
              </div>
            </div>

            <div class="single_stuff_img" align="center">
              <a href="/news/{{post['_source']['slug']}}"><img src="{{ post['_source']['image'] }}" alt=""></a> 
            </div>

            <div class="single_sarticle_inner">
              <p>{% raw post['_source']['body'] %}</p>
            </div>
          </div>            
        </div>
        {% end %}        

      </div>
    </div>
  </div>
</div>
{% end %}