<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Лента новостей{% end %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/static/favicon.ico" />
<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/assets/css/font.css">
<link rel="stylesheet" href="/static/assets/css/animate.css">
<link rel="stylesheet" href="/static/assets/css/main.css">
<link rel="stylesheet" href="/static/assets/css/custom.css">
<!--[if lt IE 9]>
<script src="/static/assets/js/html5shiv.min.js"></script>
<script src="/static/assets/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<header id="header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav custom_nav">
     <li class=""><a href="/"><i class="fa fa-indent"></i> На главную</a></li>
     </ul>
    </nav>
    <form id="searchForm" action="/search" method="post">
      <input type="text" name="search_text" placeholder="Поиск...">
      <input type="submit" value="">
    </form>
  </div>
</header>
<section id="contentbody">
<div class="container">
{% block content %}{% end %}
</div>
</section>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer_inner">
        <br>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="/static/assets/js/jquery.min.js"></script> 
<script src="/static/assets/js/bootstrap.min.js"></script> 
<script src="/static/assets/js/wow.min.js"></script> 
<script src="/static/assets/js/custom.js"></script>
</body>
</html>